.container {
  width: 95%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .topBar {
    border-bottom: thin solid black;
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    gap: 75%;

    div {
      margin-top: 30px;
    }
  }

  .mainBody {
    display: flex;
    // align-items: center;
    gap: 20px;

    .sideBar {
      /*max-width: 20%;
      padding-top: 20px;*/
      display: flex;
      flex-direction: column;

      .navigation {
        margin-left: 10px;
        width: 50%;
        //height: 100%;
        display: flex;
        // align-items: center;
        justify-content: space-between;

        .navHeading {
          padding-left: 20px;
          font-weight: bold;
          font-size: 20pt;
        }
      }

      .subNavigation {
        margin: 10px 0;
        div {
          font-weight: bold;
          font-size: 23pt;
          margin-left: 40px;
          padding: 20px;
        }
        a {
          text-decoration: none;
          color: #808282;
        }
      }
    }
    .contents {
      /*width: 80%;*/
      background-color: #f3efee;
      border: thin solid #bdbdbd;
      margin: 10px;
      border-radius: 19px;
      padding: 10px;
      min-height: 100%;
      display: grid;
    }
  }
}
